<body>
<div class="container">

  <div class="welcome-content d-none d-lg-block">
    <h1>Dobro došli</h1>
    <p>Popisna Lista je web aplikacija namenjena za digitalizaciju inventarizacije unutar skladišta
      ili prodajnih objekata. Pruža intuitivan interfejs, omogućava kreiranje inventarskog spiska,
      unos trenutnog stanja zaliha, i digitalizuje ceo proces. Korisnicima omogućava jednostavan
      pristup sa bilo kog uređaja, smanjujući greške i povećavajući efikasnost rada.</p>
  </div>

  <div class="login-form">
    <h2>LOGIN</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="ime" formControlName="name" name="ime" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" id="sifra" formControlName="password" name="sifra" placeholder="Password">
      </div>
      <div class="form-options">
        <label><input type="checkbox" formControlName="rememberMe" name="remember"> Zapamti me </label>
      </div>
      <button type="submit">LOGIN</button>
    </form>
  </div>

</div>
</body>
