<div class="title p-2">
  <h2>Inventory List</h2>
  <button *ngIf="isEditable" class="my-button" (click)="closeOpenedInventory()">ZATVORI</button>

  <p> Ukupno zavrseno {{ changedItems }} / {{ items.length }}</p>
  <p> Ne sacuvane promjene {{ updatedItems.length }} / {{ items.length - changedItems }}</p>
</div>

<div class="inventories p-2">
  <button (click)="save()">SAČUVAJ</button>

  <div class="search-fields d-flex justify-content-between mt-2">
    <div class="search-field-1 d-flex flex-column">
      <label for="name-search">Pretraži po imenu</label>
      <input
        id="name-search"
        type="text"
        placeholder="Search by name"
        [(ngModel)]="nameSearchTerm"
        class="search-bar"
      />
    </div>
    <div class="search-field-1 d-flex flex-column">
      Pronadjeni artikli {{filteredItems().length}}
    </div>
    <div class="search-field-2 d-flex flex-column">
      <label for="barcode-search">Pretraži po barkodu</label>
      <input
        id="barcode-search"
        type="number"
        placeholder="Search by barcode"
        [(ngModel)]="barcodeSearchTerm"
        class="search-bar"
      />
    </div>
  </div>
  <app-inventory-item
    *ngFor="let item of filteredItems()"
    [item]="item"
    [isEditable]="isEditable"
    (mousedown)="handleInputFocus(item)"
    (itemChanged)="handleItemChange($event)"
  ></app-inventory-item>
</div>
<app-confirm-modal *ngIf="showModal" (confirm)="handleModalConfirm($event)"
                   [message]="modalMessage"></app-confirm-modal>
