<div class="header">
  <h2>Inventory List</h2>
  <button *ngIf="isEditable" class="my-button" (click)="closeOpenedInventory()">ZATVORI</button>
  <input
    type="text"
    placeholder="Search by name"
    [(ngModel)]="searchTerm"
    class="search-bar"
  />
</div>
<p> Ukupno zavrseno {{ changedItems }} / {{items.length}}</p>
<p> Ne sacuvane promjene {{ updatedItems.length }} / {{items.length - changedItems}}</p>
<div class="inventories">
  <button (click)="save()">SAČUVAJ</button>
  <app-inventory-item
    *ngFor="let item of filteredItems()"
    [item]="item"
    [isEditable]="isEditable"
    (itemChanged)="handleItemChange($event)"
    ></app-inventory-item>
  <button (click)="save()">SAČUVAJ</button>
</div>
