<h2>Inventar</h2>
<br>
<p> Ukupno zavrseno {{ changedItems }} / {{items.length}}</p>
<p> Ne sacuvane promjene {{ updatedItems.length }} / {{items.length - changedItems}}</p>
<div class="inventories">
  <button (click)="save()">SAČUVAJ</button>
  <app-worker-inventory-list-item
    *ngFor="let item of items"
    [item]="item"
    [isEditable] = true
    (mousedown)="handleInputFocus(item)"
    (itemChanged)="handleItemChange(item)"
  ></app-worker-inventory-list-item>
  <button (click)="save()">SAČUVAJ</button>
</div>
