/* Hide arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 576px) {
  .inventories {
    padding: 0 !important;
  }

  .title {
    /*padding: 0 !important;*/
  }

  .h2 {
    margin-bottom: 0 !important;
  }
}
