<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading">
  <!-- Title -->
  <div class="title p-2">
    <h2>Artikli za gornji nivo korisnika</h2>
    <br>
    <p> Ukupno zavrseno: {{ changedItems }} / {{ items.length }}</p>
    <p> Nesacuvane promjene: {{ updatedItems.length }} / {{ items.length - changedItems }}</p>
  </div>

  <div class="inventories p-2" id="inventories">
    <button (click)="save()">SAČUVAJ</button>
    <!-- Search Fields -->
    <div class="search-fields d-flex flex-md-row flex-column justify-content-between mt-2">

      <div class="search-field-1 d-flex flex-column mb-3">
        <label for="name-search">Pretraži po imenu</label>
        <input
          id="name-search"
          type="text"
          placeholder="Traži po Imenu"
          [(ngModel)]="nameSearchTerm"
          class="search-bar"
        />
      </div>
      <div class="search-field-1 d-flex flex-column mb-3">
        Pronadjeni artikli: {{ filteredItems().length }}
      </div>

      <div class="search-field-2 d-flex flex-column mb-3">
        <div class="d-flex align-items-center">
          <span class="me-2">Nisu popunjeni:</span>
          <input type="checkbox" class="form-check-input" [(ngModel)]="myCheckboxValue">
        </div>
      </div>

      <div class="search-field-2 d-flex flex-column">
        <label for="barcode-search">Pretraži po barkodu</label>
        <input
          id="barcode-search"
          type="number"
          placeholder="Traži po Barkodu"
          [(ngModel)]="barcodeSearchTerm"
          class="search-bar"
        />
        <button
          *ngIf="isAndroidApp"
          class="btn btn-dark w-100 mt-2"
          (click)="triggerScan()">
          <i class="bi bi-camera me-2"></i> 📷 SKENIRAJ
        </button>
      </div>
    </div>

    <!-- Inventory Items -->
    <app-worker-inventory-list-item
      *ngFor="let item of filteredItems()"
      [item]="item"
      [isEditable]=true
      (inputClicked)="handleInputFocus(item)"
      (itemChanged)="handleItemChange($event)"
    ></app-worker-inventory-list-item>
  </div>
  <!-- Modal -->
  <app-confirm-modal
    *ngIf="showModal"
    (confirm)="handleModalConfirm($event)"
    [message]="modalMessage"
    [allowNegation] = true
    [confirmationMessage]="modalConfirmationMessage"
    [negationMessage]="modalNegationMessage"
  >
  </app-confirm-modal>
</div>
