<div class="d-flex flex-column min-vh-100">
  <!-- Header -->
  <app-header></app-header>
  <div class="flex-grow-1 d-flex flex-column align-items-start justify-content-start px-4 mt-4">
    <h1 class="mt-5 mt-md-5 mt-lg-5 mt-4">Inventari donji nivo</h1>
    <!-- Item Container -->
    <div class="section w-100 px-0">
      <app-loading-spinner *ngIf="isLoadingTasks"></app-loading-spinner>
      <div *ngIf="!isLoadingTasks && activeItems.length > 0">
        <!-- Items -->
        <app-dropdown-item *ngFor="let item of filteredActiveItems"
                           [item]="item"
                           (click)="navigateToInventoryClicked(item)"></app-dropdown-item>

      </div>
      <div *ngIf="!isLoadingTasks && activeItems.length === 0">Trenutno nema aktivnon popisa.</div>
    </div>
  </div>
</div>
