<h2 mat-dialog-title>Korisnik: {{ editableEntity.name }}</h2>

<mat-dialog-content class="mat-typography">
  <p><strong>ID: </strong> {{ editableEntity.id }}</p>

  <p><strong>Ime: </strong> {{ editableEntity.name }}</p>

  <div class="form-group mb-3">
    <label for="userPassword"><strong>Nova Šifra </strong> </label>
    <input
      id="userPassword"
      type="text"
      class="form-control"
      [(ngModel)]="editableEntity.password"
      required
      minlength="8"
      #passwordModel="ngModel"

    >
    @if (passwordModel.invalid && passwordModel.touched) {
      <div>
        @if (passwordModel.errors?.['required']) {
          <p>Lozinka je obavezna.</p>
        }
        @if (passwordModel.errors?.['minlength']) {
          <p>Lozinka mora imati najmanje 8 karaktera.</p>
        }
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Odustani</button>
  <button mat-button color="primary" [disabled]="passwordModel.invalid" (click)="onSave()">Sačuvaj Promjene</button>
</mat-dialog-actions>
