<h2>Inventar za donji nivo</h2>

<br>
<p> Ukupno zavrseno {{ changedItems }} / {{items.length}}</p>
<p> Ne sacuvane promjene {{ updatedItems.length }} / {{items.length - changedItems}}</p>

<div class="inventories">
  <button (click)="save()">SAČUVAJ</button>
  <app-worker-inventory-list-item
    *ngFor="let item of items"
    [item]="item"
    [isEditable] = "editStateMap[item.itemId]"
    (itemChanged)="handleItemChange($event)"
    (lockedItemClick)="handleLockedItemClick()"
  ></app-worker-inventory-list-item>
</div>
<app-confirm-modal *ngIf="showModal" (confirm)="handleModalConfirm()" [message]="modalMessage"></app-confirm-modal>
