<app-header></app-header>
<div class="dashboard-container">
  <!-- Title -->
  <div class="text-start text-uppercase fs-2 p-2"> {{ title }}</div>

  <!-- Buttons to switch view -->
  <div class="mode-toggle m-2 mt-3">
    <button
      class="btn"
      [class.btn-primary]="currentView === 'allUsers'"
      [class.btn-outline-primary]="currentView !== 'allUsers'"
      (click)="setView('allUsers')">
      Svi Korisnici
    </button>
    <button
      class="btn ms-2"
      [class.btn-primary]="currentView === 'newUser'"
      [class.btn-outline-primary]="currentView !== 'newUser'"
      (click)="setView('newUser')">
      Novi Korisnik
    </button>
  </div>

  <!-- List of all Users -->
  <div class="container-fluid mt-4" *ngIf="currentView === 'allUsers'">
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <div *ngIf="!loading">
      <div class="row">
        <!-- User List on the Left -->
        <div class="col-md-6">
          <ul class="list-group">
            <app-dropdown-user *ngFor="let user of allUsers"
                               [user]="user"
                               (click)="selectUser(user)"></app-dropdown-user>
          </ul>
        </div>
        <!-- User Details on the Right -->
        <div class="col-md-6" *ngIf="selectedUser">
          <div class="border rounded p-3 bg-light">
            <h5 class="text-primary">{{ selectedUser.name }}</h5>
            <p><strong>ID:</strong> {{ selectedUser.id }}</p>
            <p class="d-flex justify-content-between align-items-center mb-0">
              <strong>Level:</strong> {{ selectedUser.level }}
              <button
                class="btn btn-danger btn-sm ms-3"
                (click)="initiateDeletion(selectedUser)">
                Izbriši
              </button>
              <button
                class="btn btn-warning btn-sm ms-3"
                (click)="openEditDialog(selectedUser)">
                Uredi
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- New User View -->
  <div class="container-fluid mt-4" *ngIf="currentView === 'newUser'">
    <form [formGroup]="newUserForm" (ngSubmit)="saveUser()">
      <div class="row">
        <div class="col-md-6 col-lg-4">

          <label for="userName" class="form-label"> Ime </label>
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   aria-label="Username"
                   aria-describedby="basic-addon1"
                   id="userName"
                   formControlName="newUserName"
                   placeholder="Unesi korisničko ime">
          </div>
          <div class="text-danger form-text"
               *ngIf="newUserForm.controls.newUserName.touched && newUserForm.controls.newUserName.invalid">
            <div *ngIf="newUserForm.controls.newUserName.errors?.['required']">
              Unesi korisničko ime
            </div>

            <div *ngIf="newUserForm.controls.newUserName.errors?.['minlength']">
              Ime mora imati barem 3 znaka
            </div>

            <div *ngIf="newUserForm.controls.newUserName.errors?.['maxlength']">
              Ime može imati najviše 30 znakova
            </div>
          </div>

          <label for="userPassword" class="form-label"> Šifra </label>
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   aria-label="Password"
                   aria-describedby="basic-addon1"
                   id="userPassword"
                   placeholder="Unesi šifru"
                   formControlName="newUserPassword">
          </div>
          <div class="text-danger form-text"
               *ngIf="newUserForm.controls.newUserPassword.touched && newUserForm.controls.newUserPassword.invalid">
            <div *ngIf="newUserForm.controls.newUserPassword.errors?.['required']">
              Unesi šifru
            </div>

            <div *ngIf="newUserForm.controls.newUserPassword.errors?.['minlength']">
              Šifra mora imati barem 8 znakova
            </div>
          </div>

          <label class="form-label mt-3"> Odaberi ulogu </label>
          <div class="input-group mb-3">
            <select class="form-select" formControlName="newUserRole">
              <option [ngValue]="null" disabled>Odaberi ulogu</option>
              <option [ngValue]="1">Controller</option>
              <option [ngValue]="2">Admin Worker</option>
              <option [ngValue]="3">Worker</option>
            </select>
          </div>

          <div class="text-danger form-text"
               *ngIf="newUserForm.controls.newUserRole.touched && newUserForm.controls.newUserRole.invalid">
            Odaberi ulogu
          </div>

          <button class="btn-outline-success"
                  type="submit"
                  [disabled]="newUserForm.invalid">
            Sačuvaj
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
