.inventory-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.inventory-item p {
  margin: 5px 0;
  font-size: 14px;
}

.inventory-item p strong {
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.item-differs {
  /* Styles to apply when the condition is met */
  border: 3px solid #dc3545 !important; /* Bold red border (Bootstrap red) */
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5); /* Optional: Red shadow for emphasis */
}
