.controller-wrapper {
  padding: 20px;
  background-color: #f3f3f3;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;  /* Make buttons longer */
}

button:hover {
  opacity: 0.8;
}

#new-button {
  background-color: #000000; /* Black background */
  width: auto;  /* Make the button shorter */
  display: inline-block;  /* Align to the left */
  margin-right: 20px;  /* Add space between the button and the next element */
}

#active-button {
  background-color: #4CAF50; /* Green background */
}

#inactive-button {
  background-color: #f44336; /* Red background */
}

/* Dropdown content styling */
.dropdown-content {
  display: block;
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  z-index: 1000;
  cursor: pointer;
}

/* Dropdown styling */
.dropdown {
  margin-bottom: 2rem;
  text-align: center; /* Center the dropdown */
}

.active-list {
  background-color: #4CAF50; /* Green background */
  padding: 10px;
  text-align: center;
  margin-bottom: 2rem;
}

.active-items {
  background-color: white;
  padding: 10px;
}

.active-items .app-dropdown-item {
  padding: 10px 0;
}

.active-items .app-dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Ensure dropdown content does not block button clicks */
.dropdown-content {
  z-index: 1;
}

/* Dropdown item styling */
.app-dropdown-item {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: black; /* Text color */
  background-color: white;
}

.app-dropdown-item:hover {
  background-color: #f1f1f1;
}
