body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Content to fit in remaining space */
.main-content {
  position: absolute;
  top: 7.5vh; /* Adjust according to your navbar height */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6A0DAD;
  overflow: hidden;
}

/* Main container for content */
.container {
  width: 90vw;
  max-width: 1000px;
  height: 80vh;
  max-height: 700px;
  padding: 20px;
  background: #aaaaaa;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.active-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

#new-button {
  background-color: #000000;
  width: auto;
  border-radius: 20px;
}

.search-bar {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.active-list {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

.inactive-list {
  margin-top: 2rem;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}

#inactive-button {
  background-color: #f44336;
  width: 100%;
  border-radius: 8px;
}
